h5{
    color: rgb(89, 78, 78);
}
.container{
    color: rgb(89, 78, 78);
}

.card .card-body .card-header{
    margin-bottom: 10px;
    color: #FFC096;
    background-color: #509FF9;
    font-size: larger;
    font-weight: 600;
}
.card {
    border: none;
}