<div class="card">
    <div class="card-body">

        <div class="container">
            <div class="card-header">@{{user.loginId}} <small class="text-muted sm"> {{user.firstName}}
                    {{user.lastName}}</small></div>
            <div *ngIf='tweetsToShow' class="alert alert-warning">
                {{tweetsToShow}}
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let tweet of tweets">
                    <h5 class="semibold ellipsis nm font-italic">@{{tweet.loginId}}</h5>
                    <p class="nm">{{tweet.tweets}}</p>
                    <div class="button">
                        <button (click)="updateLikes(tweet.id)"><i class="material-icons">thumb_up</i><small
                                class="badge badge-primary badge-pill" style="background-color:rgb(33, 150, 70)"
                                *ngFor="let l of likes">
                                <ng-container *ngIf="(tweet.id === l.id) && (l.likes!=0)">{{l.likes}}</ng-container>
                            </small></button>
                        <button (click)="checkComments(tweet.id)"><i class="material-icons">comment</i></button>
                    </div>
                    <small class="text-muted">{{tweet.date | date : 'dd MMM yyyy, h:mm a'}}</small>
                </li>
            </ul>
        </div>
    </div>
</div>